:root {
  /* Charcoal Theme */
  /* Backgrounds */
  --os-primary-dark: #121419;
  --os-primary-light: #7ea9ffc7;
  --os-primary-light-transparent: #7d9fd526;

  /* Util */
  --os-transparent: #00000000;
  --os-cancel: #ff6e7b;

  /* Text hierarchy */
  --os-text-light: #f2f4f8;
  --os-text-secondary: #c4c6c9;

  /* Accent hierarchy */
  --os-accent-primary: #7ea8ff;
  --os-accent-secondary: #a6cbf6;

  /* Fonts */
  --os-font-main: "calibre";
  --os-font-main-bold: "calibre-bold";
  --os-font-main-semibold: "calibre-semibold";
  --os-font-main-medium: "calibre-medium";

  --os-font-main-light: "calibre-light";
  --os-font-accent: "sfmono";
  --os-font-accent-light: "sfmono-light";
}
