.outlinedButtonComponent {
  background-color: var(--os-transparent);
  color: var(--os-primary-light);
  padding: 8px 20px;
  border: 1px solid var(--os-primary-light);
  text-decoration: none;
  border-radius: 8px;
}

.outlinedButtonComponent:hover {
  background-color: var(--os-primary-light-transparent);
  transition: all 0.3s ease-out;
}

.outlinedButtonComponent>* {
  cursor: pointer;
}