@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.95;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateAndHide {
    from {
        transform: rotate(0deg);
        opacity: 100;
    }

    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(200px);
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateY(-200px);
        transform: translateX(-400px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateY(-200px);
        transform: translateX(400px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes typeIn {
    to {
        width: 175px;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@keyframes fadeInFull {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rainbow {
    25% {
        color: #dc5432;
    }

    50% {
        color: #29c5b0;
    }

    75% {
        color: #2f43b8;
    }

    100% {
        color: #b6af2d;
    }
}