:root {
  /* Charcoal Theme */
  --os-primary-dark: #0d0f13;
  --os-primary-light: #b7c1d1;
  --os-element: #7ea8ff;
  --os-cancel: #ff6e7b;
  --os-transparent: #00000000;
  --os-primary-light-transparent: #b7c1d126;

  /* Text hierarchy */
  --os-text-light: #f2f4f8;
  --os-text-body: #d2d8e3;
  --os-text-secondary: #aeb8c8;
  --os-text-tertiary: #7891aa;

  /* Accent hierarchy */
  --os-employer: #b2a6ff;
  --os-accent-secondary: #b2a6ff;
  --os-accent-tertiary: #b2a6ff;

  --os-dark-more-transparent: #00000000;
  --os-dark-transparent: #0000005c;
  --os-light-transparent: #f3f8f22e;
  
  --os-overlay-more-transparent: #080b11a6;
  --os-overlay-transparent: #080b11c9;

  /* Fonts */
  --os-font-main: "calibre";
  --os-font-main-bold: "calibre-bold";
  --os-font-main-semibold: "calibre-semibold";
  --os-font-main-medium: "calibre-medium";

  --os-font-main-light: "calibre-light";
  --os-font-accent: "sfmono";
  --os-font-accent-light: "sfmono-light";
}
