:root {
  /* Theme Colors */
  --os-primary-dark: #07041D;
  --os-primary-light: #8ED7F0;
  --os-element: #8ED7F0;
  --os-cancel: #ed6565;
  --os-code: #73d373;
  --os-accent: #bec2cb;
  --os-transparent: #00000000;
  --os-primary-light-transparent: #8ED7F033;
  --os-primary-light-transparent2: #8ED7F033;

  /* Nice turquoise */
  /* 42d8b5 */



  /* Text Colors */
  --os-text-dark: #222222;
  --os-text-body: #c8cdda;
  --os-text-light: #ddd;

  /* Fonts */
  --os-font-main: "calibre";
  --os-font-main-bold: "calibre-bold";
  --os-font-main-light: "calibre-light";
  --os-font-accent: "sfmono";
  --os-font-accent-light: "sfmono-light";
}