:root {


  /* Dark Blue Theme */
/* 
  /* Theme Colors
    --os-primary-dark: #07041D;
    --os-primary-light: #8ED7F0;
    --os-element: #8ED7F0;
    --os-cancel: #ed6565;
    --os-transparent: #00000000;
    --os-primary-light-transparent: #8ED7F033;
  
    /* Text Colors
    --os-text-body: #c8cdda;
    --os-text-light: #ddd;

 */

  /* Black Theme */
  --os-primary-dark: #0E1111;
  --os-primary-light: #dddddd;
  --os-element: #dddddd;
  --os-cancel: #e41414;
  --os-transparent: #00000000;
  --os-primary-light-transparent: #66666633;
  --os-text-body: #dfe1e8;
  --os-text-light: #dddddd; 

  --os-employer: #8fcad8;

  --os-dark-more-transparent: #00000000;
  --os-dark-transparent: #00000055;
  
  --os-overlay-more-transparent: #00000099;
  --os-overlay-transparent: #000000bb;

/* White Theme */
/* 
    /* Theme Colors 
      --os-primary-dark: #f4f4f4;
      --os-primary-light: #000000;
      --os-element: #000000;
      --os-cancel: #ad14e4;
      --os-transparent: #00000000;
      --os-primary-light-transparent: #00000033;
    
      /* Text Colors 
      --os-text-body: #333333;
      --os-text-light: #222222; 
 */

/* Light green Theme */
/* 
    /* Theme Colors 
          --os-primary-dark: #96c7c7;
          --os-primary-light: #19400a;
          --os-element: #0c0941;
          --os-cancel: #ad14e4;
          --os-transparent: #00000000;
          --os-primary-light-transparent: #19400a33;
        
          /* Text Colors 
          --os-text-body: #32336d;
          --os-text-light: #32336d;  
          
          */

  /* Fonts */
  --os-font-main: "calibre";
  --os-font-main-bold: "calibre-bold";
  --os-font-main-light: "calibre-light";
  --os-font-accent: "sfmono";
  --os-font-accent-light: "sfmono-light";
}