.projectsSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16vh;
  width: 100%;
  padding-top: 8vh;
  padding-left: 76px;
  padding-right: 76px;
}

.projectsTitleBar {
  font-size: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--os-text-light);
  text-align: flex-start;
  white-space: nowrap;
  padding-top: 8vh;
  margin-top: 18px;
}

.projectsTitleDecoration {
  max-width: 27%;
  width: 100%;
  height: 1px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  margin-right: 20px;
  background-color: var(--os-primary-light);
}

.projectTileListContainer {
  margin-top: 16px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  flex-wrap: wrap;
}

.showHideButton {
  text-align: center;
  padding: 16px;
  font-size: 22px;
  padding-top: 22px;
  align-self: center;
  margin-top: 28px;
  font-family: var(--os-font-accent);
  width: 100px;
  min-width: 150px;
  cursor: pointer;
  max-lines: 1;
}

.showHideButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .projectsTitleDecoration {
    max-width: 40%;
  }

  .projectsTitleBar {
    font-size: 40px;
  }
}

@media only screen and (max-width: 760px) {
  .projectsSectionContainer {
    padding-left: 36px;
    padding-right: 36px;
  }

  .projectsTitleBar {
    font-size: 32px;
  }

  .projectsTitleDecoration {
    margin-left: 0px;
    margin-right: 0px;
  }

  .portfolioText {
    padding-left: 16px;
    padding-right: 16px;
  }
}