.projectTileContainer {
  width: 292px;
  height: 292px;
  padding: 12px 12px 16px;
  background-color: var(--os-primary-light-transparent);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectTileContainer:hover {
  transform: translateY(-2px);
  transition: all 0.1s ease-out;
}

.projectTitle {
  font-size: 24px;
  margin: 12px 0 0 4px;
  color: var(--os-accent-primary);
  font-family: var(--os-font-main-bold);
}

.projectDescription {
  font-size: 18px;
  margin: 4px;
  font-family: var(--os-font-main-light);
  color: var(--os-text-light);
}

.linkBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.linkBarSocials {
  display: flex;
  flex-direction: row;
}

.folderIcon {
  width: 64px;
  height: 64px;
  justify-self: flex-start;
  color: var(--os-accent-secondary);
}

.githubIcon {
  width: 32px;
  height: 32px;
  padding: 4px;
  margin-right: 1px;
  color: var(--os-text-light);
}

.githubIcon>* {
  cursor: pointer;
}

.githubIcon:hover {
  padding: 2px;
}

.hyperlinkIcon {
  width: 32px;
  height: 32px;
  padding: 4px;
  margin-left: 1px;
  color: var(--os-text-light);
}

.hyperlinkIcon:hover {
  padding: 2px;
  cursor: pointer;
}

.languageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  row-gap: 6px;
  padding: 12px 4px 0;
  border-top: 1px solid var(--os-primary-light-transparent);
}

.languageItem {
  /* border-radius: 8px;
  font-size: 16px;
  text-align: center;
  padding-left: 8px;
  padding-right: 9px;
  margin-right: 6px;
  text-overflow: ellipsis;
  background-color: #00000000;
  border: 1px solid var(--os-primary-light-transparent);
  padding-top: 4px;
  margin-bottom: 0;
  color: var(--os-text-light); */
  margin-right: 6px;
    border-radius: 999px;
  font-size: 14px;
  text-align: center;
  padding: 5px 12px;
  text-overflow: ellipsis;
  background-color: #00000022;
  border: 1px solid var(--os-primary-light-transparent);
  color: var(--os-text-light);
  font-family: var(--os-font-accent);
}
