.introContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 16vh;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 16vh;
}

.introContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.salutation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.introStyle {
  font-size: 20px;
  font-family: var(--os-font-accent);
  color: var(--os-primary-light);
}

.blink {
  animation: blink-animation 1.5s steps(2, start) infinite;
}

.intro-text {
  font-size: 20px;
  align-self: flex-start;
  font-family: var(--os-font-accent);
  color: var(--os-primary-light);
  text-align: start;
  width: 0ch;
  overflow: hidden;
  margin: 0 auto;
  margin-left: 0;
  white-space: nowrap;
}

.intro-text.loading {
  animation: typeIn 2s steps(14) forwards;
  animation-delay: 0s;
}

.introNameHeader {
  font-size: 84px;
  font-family: var(--os-font-main-bold);
  color: var(--os-text-light);
  margin-top: 18px;
  opacity: 0;
  animation: fadeInFull ease 2s forwards;
  animation-delay: 2.5s;
}

.introTitleHeader {
  font-size: 50px;
  color: var(--os-text-body);
  opacity: 0;
  animation: fadeInFull ease 2s forwards;
  animation-delay: 2.7s;
}

.introDescription {
  font-size: 22px;
  font-family: var(--os-font-main-light);
  color: var(--os-text-body);
  margin-top: 18px;
  max-width: 600px;
  opacity: 0;
  animation: fadeInFull ease 2s forwards;
  animation-delay: 2.9s;
}

.employerLabel {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--os-primary-light);
}

.mainCta {
  padding: 16px;
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 36px;
  font-size: 18px;
  font-family: var(--os-font-accent);
  opacity: 0;
  animation: fadeInFull ease 2s forwards;
  animation-delay: 3.1s;
}

.mainCta:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .introContainer {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .introNameHeader {
    font-size: 72px;
  }

  .introTitleHeader {
    font-size: 48px;
  }
}

@media only screen and (max-width: 960px) {
  .introNameHeader {
    font-size: 64px;
  }

  .introTitleHeader {
    font-size: 42px;
  }

  .mainCta {
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 24px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 760px) {
  .introContainer {
    padding-left: 32px;
    padding-right: 32px;
  }

  .introNameHeader {
    font-size: 56px;
  }

  .introTitleHeader {
    font-size: 32px;
  }

  .introDescription {
    max-width: 500px;
    font-size: 20px;
  }
}