.scene {
    width: 240px;
    height: 240px;
    border: 0px;
    margin: 16px;
    perspective: 480px;
    background-color: #0E1111;
    box-shadow: 24px #cccccc22;
}

.cube {
    width: 240px;
    height: 240px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-120px);
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1.0, 0.8);
}

.cube.show-front {
    transform: translateZ(-120px) rotateY(0deg);
}

.cube.show-right {
    transform: translateZ(-120px) rotateY(-90deg);
}

.cube.show-back {
    transform: translateZ(-120px) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(-120px) rotateY(90deg);
}

.cube.show-top {
    transform: translateZ(-120px) rotateX(-90deg);
}

.cube.show-bottom {
    transform: translateZ(-120px) rotateX(90deg);
}

.cube__face {
    position: absolute;
    width: 240px;
    height: 240px;
    border: 2px solid #0E1111;
    border-radius: 4px;
    line-height: 240px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cube__face--front {
    transform: rotateY(0deg) translateZ(120px);
}

.cube__face--right {
    transform: rotateY(90deg) translateZ(120px);
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(120px);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(120px);
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(120px);
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(120px);
}