.socialsWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  left: 44px;
  z-index: 999;
  opacity: 0;
  -webkit-animation: fadeInAnimation ease 2s forwards;
  -moz-animation: fadeInAnimation ease 2s forwards;
  -o-animation: fadeInAnimation ease 2s forwards;
  animation: fadeInAnimation ease 2s forwards;
  animation-delay: 2.9s;
}

.socialsWrapperNoFadeIn {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  left: 44px;
  z-index: 999;
}

.socialsBottomIcon {
  width: 2px;
  height: 72px;
  margin-top: 16px;
  background-color: var(--os-primary-light);
}

.socialsIcon {
  color: var(--os-primary-light);
  width: 28px;
  height: 28px;
  margin: 3px;
  margin-top: 8px;
}

.socialsIcon:hover {
  cursor: pointer;
  height: 34px;
  width: 34px;
  margin: 0px;
  margin-top: 5px;
}

.socialsIcon>* {
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  .socialsWrapperNoFadeIn {
    display: none;
  }

  .socialsWrapper {
    display: none;
  }
}